@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Rubik:wght@300;600&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&family=Work+Sans:wght@300&display=swap");

.Main_portfolio {
  background-color: var(--color_primary);
  .container {
    width: 82%;
    margin: 0 auto;
    // border: 1px solid red;
  }
}

.portfolio_head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  .head {
    font-size: 20px;
    margin: 0% auto;
    font-family: "Rubik", sans-serif;
    color: whitesmoke;
  }
  .title {
    font-size: 35px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: var(--color_secondary);
  }
}

.portfolio_wrap {
  display: flex;
  justify-content: space-between;
  // border: 1px solid white;
  flex-wrap: wrap;
}
.portfolio_box {
  width: 30%;
  padding: 20px 15px;
  border-radius: 30px;
  background-color: var(--color_dark_blue);
  margin: 20px 0;
  @media screen and (max-width: 970px) {
    width: 48%;
    padding: 16px;
  }
  @media screen and (max-width: 570px) {
    width: 100%;
    padding: 16px;
  }
}
.image_box {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  &:hover .overlap {
    height: 100%;
    padding: 10px;
  }
  &:hover .project_img {
    transition: 0.2s;
    transform: scale(1.1);
  }
  @media screen and (max-width: 570px) {
    // height: 60%;
  }
}
.overlap {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.overlap_info {
  color: var(--color_white);
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}

.portfolio_info {
  font-size: 19px;
  margin: 10px auto;
  font-family: "Rubik", sans-serif;
  color: whitesmoke;
}
.button_wrap {
  // border: 1px solid red;
  .portfolio_btn {
    background-color: transparent;
    border: 1px solid var(--color_secondary);
    border-radius: 6px;
    margin: 10px 0;
    margin-right: 10px;
    padding: 9px 20px;
    color: var(--color_secondary);
    transition: 0.2s;
    &:hover {
      background-color: var(--color_secondary);
      color: var(--color_primary);
    }
  }
}
