@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Rubik:wght@300;600&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&family=Work+Sans:wght@300&display=swap");

.Main_service {
  background-color: var(--color_primary);
  .container {
    width: 82%;
    margin: 0 auto;
    // border: 1px solid red;
  }
}
.exp_head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  .head {
    font-size: 20px;
    margin: 0% auto;
    font-family: "Rubik", sans-serif;
    color: whitesmoke;
  }
  .title {
    font-size: 35px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: var(--color_secondary);
  }
}

.service_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
//   background-color: lightblue;
  @media screen and (max-width: 970px) {
    flex-direction: column;
  }
  .service_box {
    width: 85%;
    background-color: var(--color_dark_blue);
    padding-bottom: 20px;
    border: 1px solid var(--color_secondary);
    @media screen and (max-width: 970px) {
      width: 10 0%;
      margin: 10px 0;
    }
    @media screen and (max-width: 570px) {
      width: 100%;
      margin: 10px 0;
    }
  }
}

.service_title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
//   border: 1px solid white;
  .title2 {
    font-size: 22px;
    font-family: "Rubik", sans-serif;
    color: var(--color_secondary);
  }
}
.inside_wrap{
    width: 85%;
    margin: auto;
    display: flex;
    // border: 1px solid blue;
    .tick{
        margin-right: 12px;
        color: lightgreen;
    }
    .info_service{
        // border: 1px solid wheat;
        color: whitesmoke;
        font-family: "Rubik", sans-serif;
    }
    .Tilt{
      width: 200px;
      height: 100px;
      border: 1px solid white;
      background-color: white;
      .Tilt-inner{
        width: 200px;
        height: 100px;
        border: 1px solid white;
        background-color: white;
      }
    }
}
